<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's kind of me</h1>
		<p>Lorem ipsum dolor amet deep v godard iPhone selfies master cleanse bicycle rights kitsch gochujang skateboard letterpress. Readymade heirloom austin scenester direct trade craft beer poutine before they sold out sartorial mixtape plaid man braid chartreuse slow-carb. Ennui pour-over kale chips fam vaporware. Flannel marfa celiac, sartorial whatever literally polaroid enamel pin. YOLO selfies scenester aesthetic shoreditch. Swag mixtape vaporware direct trade cred yuccie XOXO photo booth cardigan enamel pin dreamcatcher. Shoreditch hell of live-edge, taiyaki banjo echo park green juice readymade occupy man bun.</p>
	</div>
</div>